<article id="wall" class="center">
  <div id='masonry'></div>
</article>

<script type="text/javascript">
  // when the DOM is loaded
  $(() => {
    // get body background color
    $("body").attr("style", "background-color:darkgray");


    // template for an image item on the page
    function template(url, time, likes, description, author, likeActive) {
      let like = "";
      if (likeActive) {
        like = "<i class='"+ url + " " + time +" fa fa-thumbs-up like-active' aria-hidden='true'></i> ";
      }
      else {
        like = "<i class='"+ url + " " + time +" fa fa-thumbs-up' aria-hidden='true'></i> ";
      }
      let gravatar = "https://gravatar.com/avatar/" + MD5(author) + "?s=40";
      let tag = "<div class='item'>" + 
                  "<img class='img-responsive' width='200px' src='" + url + 
                  "' onerror='imgError(this);'>" +
                  "<div class='description'><p>"+ description +"</p></div>" +
                  "<div>" +
                    "<img class='profile-pic img-responsive' src='" + gravatar + "' >" +
                    "<div class=' likesIndex'>" +
                    "<button class='"+ url + " "+ time + " likeButton btn btn-default'>" + 
                      like + "<span class='"+ url + " " + time +"'>" + likes +"</span>" +
                    "</button></div>" +
                  "</div>" +
                "</div>";
      return tag;
    }

    // get information from the server
    let images = [{{{images}}}];
    let userLiked = "{{userLiked}}".split(",");
    let user = {{{user}}};

    // if no images are found, show message
    if (images.length == 0) {
      $('<h3 class="center" style="color: white">No images to display. Log in to add images</h3>').appendTo("#masonry");
    }
    else {
      // for every image in images
      for (let i in images) {
        let url = images[i].url;
        let time = images[i].time;
        let likes = images[i].likes;
        let description = images[i].description;
        let author = images[i].owner;
        let likeActive = false;

        // set like thumb color accordingly
        let index = -1;
        let j = 1;

        while (j < userLiked.length) {
          if (userLiked[j].toString() == time.toString()) {
            index = j;
            break;
          }
          j++;
        }

        if (index > -1) {
          likeActive = true;
        }

        $(template(url, time, likes, description, author, likeActive)).appendTo("#masonry");
      }
    }

    // activate masonry styling
    masonry();

    // click event on like buttons
    $(".likeButton").on('click', (e) => {
      let urlTime = $(e.target).attr('class').split(" ");

      // redirect to login if user not logged in
      if (!user) {
        window.location.href = "http://localhost:5000/users/login";
      } 
      // some user is logged in     
      else {
        // find whether the image is already liked

        // already liked
        if ($("i." + urlTime[1]).hasClass("like-active")) {
          // send a request to dislike the image
          likeClicked(urlTime[0], urlTime[1], false);
          
          // change like button color
          $("i." + urlTime[1]).removeClass("like-active");

          // decrease like count
          let likes = parseInt($("span." + urlTime[1]).html());
          $("span." + urlTime[1]).html(likes - 1);
        }
        // not already liked
        else {
          // send a request to like the image
          likeClicked(urlTime[0], urlTime[1], true);
          $("i." + urlTime[1]).addClass("like-active");

          // increase like count
          let likes = parseInt($("span." + urlTime[1]).html());
          $("span." + urlTime[1]).html(likes + 1);
        }
      }
    });
  });  
</script>