.center {
  text-align: center;
}

#main {
  margin-top: 80px;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-style: groove;
  border: 1px solid #ccc;
}

.myButton {
  width: 100%;
  height: 40px;
  border: 1px;
  color: white;
}

#signupButton, #loginButton {
  background-color: #6495ed;
}

#signupButton:hover {
    background-color: #6495FF;
}

#facebook {
  background-color: #3b5998;
  margin-bottom: 10px;
}

#twitter {
  background-color: #1da1f2;
}

/* Glyphicons positioning starts */

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Glyphicons positioning ends */

a.navlink {
  color: white !important;
}

a#brand {
    color: white;
}

nav.navbar.navbar-default.navbar-fixed-top {
    background-color: #6495ed;
}

.drop {
  margin-bottom: 5px;
}

a#drop1[aria-expanded=true] {
    background-color: #7495ff;
}

/* MASONRY START */ 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#masonry {
  margin: 0 auto;
}
.item {
    background-color: #f8FfFF;
    padding: 5px;
    width: 260;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
}
/* MASONRY END */

.profile-pic {
  display: inline-block;
}

.description {
    background-color: #eee;
    font-size: 1.1em;
    padding: 1px;
    margin: 10px;
}

.likesIndex {
  padding-left: 140px;
  display: inline-block;
}

.actionButton {
  display: inline-block;
}

.delete {
  margin: 0 40px;
}

.like-active {
  color: #1da1f2;
}